# Web scraping assignment2

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [1]:
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
from bs4 import BeautifulSoup
import requests

In [170]:
driver = webdriver.Chrome("chromedriver.exe")

In [171]:
url = 'https://www.naukri.com/' 
driver.get(url)

In [172]:
jobsearch = driver.find_element_by_id('qsb-keyword-sugg')
jobsearch

In [173]:
jobsearch.send_keys("Data Analyst")

In [174]:
location = driver.find_element_by_id('qsb-location-sugg')
location.send_keys("Bangalore")

In [175]:
search = driver.find_element_by_class_name('btn')
search.click()

In [184]:
job_title = []
company = []
locations = []
xp = []

In [185]:
title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
xp_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

In [186]:
for i in title_tag:
    job_title.append(i.text)
for c in company_tag:
    company.append(c.text)
company
for l in location_tag:
    locations.append(l.text)
for x in xp_tag:
    xp.append(x.text)

#### Storing in JobDF Dataframe

In [187]:
JobDF = pd.DataFrame({"Job Title":job_title[0:10],"Company":company[0:10],"Experience":xp[0:10],"Location":locations[0:10]})
JobDF.reset_index(drop=True,inplace = True)
JobDF.index+= 1

In [188]:
JobDF

,Job Title,Company,Experience,Location
1,Business Data Analyst,Trigent Software,3-5 Yrs,Bangalore/Bengaluru
2,Business Data Analyst,Trigent Software,3-5 Yrs,Bangalore/Bengaluru
3,Data Analyst/Business Analyst-Gurgaon/Bangalor...,"India Medtronic Pvt. Ltd,.",1-4 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."
4,Business Data Analyst II,Infobahn Softworld Inc.,5-8 Yrs,Bangalore/Bengaluru
5,Data Analyst,WEIWO Communication Pvt. Ltd.,4-8 Yrs,Bangalore/Bengaluru(Ulsoor)
6,Data Analyst,GCC SERVICES INDIA PRIVATE LIMITED,5-9 Yrs,Bangalore/Bengaluru
7,Data Analyst,Allegis Services India Pvt. Ltd.,2-5 Yrs,Bangalore/Bengaluru
8,Data Analyst,Allegis Services India Pvt. Ltd.,3-5 Yrs,Bangalore/Bengaluru
9,Data Analyst,Enzen Global Solutions Pvt. Ltd,6-8 Yrs,Bangalore/Bengaluru
10,Senior Data Analyst,"Liventus, Inc.",5-8 Yrs,Bangalore/Bengaluru(2nd Phase JP Nagar)

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [366]:
driver = webdriver.Chrome("chromedriver.exe")

In [367]:
url = 'https://www.naukri.com/' 
driver.get(url)

In [368]:
jobsearch = driver.find_element_by_id('qsb-keyword-sugg')
jobsearch

In [369]:
jobsearch.send_keys("Data Scientist")
location = driver.find_element_by_id('qsb-location-sugg')
location.send_keys("Bangalore")
search = driver.find_element_by_class_name('btn')
search.click()

In [370]:
job_title = []
company = []
locations = []
desc_url = []

In [371]:
title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
description_url = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [373]:
for i in title_tag:
    job_title.append(i.text)
for c in company_tag:
    company.append(c.text)
company
for l in location_tag:
    locations.append(l.text)
for u in description_url:
    desc_url.append(u.get_attribute('href'))

In [374]:
desc_url

['https://www.naukri.com/job-listings-senior-data-scientist-datamatics-global-services-ltd-bangalore-bengaluru-8-to-13-years-040821003517?src=jobsearchDesk&sid=1628220584883360&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-symbiosis-international-w-l-l-bangalore-bengaluru-10-to-15-years-050821004331?src=jobsearchDesk&sid=1628220584883360&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-mcafee-software-india-pvt-ltd-bangalore-bengaluru-4-to-8-years-050821501145?src=jobsearchDesk&sid=1628220584883360&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-engineers-data-scientist-and-sap-teamware-solutions-bangalore-bengaluru-7-to-10-years-300721500677?src=jobsearchDesk&sid=1628220584883360&xp=4&px=1',
 'https://www.naukri.com/job-listings-python-data-scientist-mindtree-limited-bangalore-bengaluru-3-to-5-years-040821500207?src=jobsearchDesk&sid=1628220584883360&xp=5&px=1',
 'https://www.naukri.com/job-listings-software-developer-data-scientist-nlp-machine-learning-dot-net-cunesoft-india-private-limited-bangalore-bengaluru-3-to-8-years-190121001281?src=jobsearchDesk&sid=1628220584883360&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-scientist-uber-bangalore-bengaluru-6-to-8-years-050821500683?src=jobsearchDesk&sid=1628220584883360&xp=7&px=1',
 'https://www.naukri.com/job-listings-senior-associate-data-scientist-novotree-minds-consulting-pvt-limited-bangalore-bengaluru-4-to-7-years-300721001832?src=jobsearchDesk&sid=1628220584883360&xp=8&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-5-to-10-years-260721907182?src=jobsearchDesk&sid=1628220584883360&xp=9&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-8-to-12-years-230721906918?src=jobsearchDesk&sid=1628220584883360&xp=10&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-publicis-groupe-bangalore-bengaluru-2-to-5-years-030821501259?src=jobsearchDesk&sid=1628220584883360&xp=11&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-bidgely-technologies-private-limited-bangalore-bengaluru-4-to-6-years-030821500043?src=jobsearchDesk&sid=1628220584883360&xp=12&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-goals-101-data-solutions-pvt-ltd-new-delhi-bangalore-bengaluru-delhi-ncr-4-to-8-years-030821000870?src=jobsearchDesk&sid=1628220584883360&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-scientist-permanent-role-onward-technologies-limited-hyderabad-secunderabad-chennai-bangalore-bengaluru-6-to-11-years-030821002780?src=jobsearchDesk&sid=1628220584883360&xp=14&px=1',
 'https://www.naukri.com/job-listings-data-scientist-time-series-nlp-artificial-intelligence-societe-generale-global-solution-centre-pvt-ltd-bangalore-bengaluru-3-to-8-years-040821010040?src=jobsearchDesk&sid=1628220584883360&xp=15&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-randstad-india-pvt-ltd-bangalore-bengaluru-4-to-9-years-280721000424?src=jobsearchDesk&sid=1628220584883360&xp=16&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-red-hat-india-pvt-ltd-bangalore-bengaluru-8-to-13-years-220721008125?src=jobsearchDesk&sid=1628220584883360&xp=17&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-tech-lead-data-science-confidential-bangalore-bengaluru-6-to-9-years-020821903704?src=jobsearchDesk&sid=1628220584883360&xp=18&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-l-a-consultancy-kochi-cochin-hyderabad-secunderabad-pune-chennai-delhi-ncr-bangalore-bengaluru-5-to-9-years-310721903849?src=jobsearchDesk&sid=1628220584883360&xp=19&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-tensorflow-machine-learning-getinz-techno-services-mumbai-hyderabad-secunderabad-chennai-bangalore-bengaluru-7-to-10-years-250721900474?src=jobsearchDesk&sid=1628220584883360&xp=20&px=1']

In [383]:
desc = []

In [384]:
for d in desc_url:
    driver.get(d)
    try:
        content= driver.find_element_by_xpath("//div[@class='dang-inner-html']").text.replace('\n'," ").replace('\n\n'," ")
        
        desc.append(content)
    except:
        pass

In [385]:
desc

['Roles and Responsibilities  Details in lined for Hiring Team to focus: The hiring is for a single Data Scientist (7-8+yrs) as he/she shall be an individual contributor. We shall seek for a strong java/python/scala with expertise into frameworks ML (spark/keras/tensorflow). ML concepts has to be thorough with proven expertise in ( Decision Trees, Random Forest, NLP) Deep Learning is excluded. Desired Candidate Profile   Perks and Benefits',
 "Required Candidate profile We are looking for a Senior Data Scientist with a min of 10 years experience in Banking Financial Domain (especially Compliance related) and a solid background in Cloudera. As a Cloudera Specialist, you must be adept in Cloudera tools like CDH, CEPH, CM, CMA, Data node EDH, HVE, JAS, NameNode, Nodemanager, QJM, QJN, RM and ZK. This will be a two years assignment to one of the Leading Class A banks in Abu Dhabi. Candidate should have finished two or three full implementations of Data Analytics in Compliance in large Enterprise Banks. Should be having thorough knowledge in R, Python, Scala on demand and Jupyter Notebooks. Should be having hands experience in CCA Spark and Hadoop developer. Should be having a Financial Compliance Background with a good knowledge and hands on expertise on Compliance related domains. Should be a Machine Learning expert and create new models and use various library in that area. You should have proven skills in this area. Should be having a thorough theoretical and practical idea on the following systems (From a Data Scientist Perspective) HDFS Yarn MapReduce Hive Pig Apache Ambari HBase / Apache Impala Storm Oozie Ranger Zookeeper Various data ingestion tools like Sqoop, flume, Kafka Various reporting tools like Drill, Phoenix, Zeppelin Will be an added advantage if you have exposure to GPU processing, Tensor Flow and Data Lakes. Should be able to produce high Quality Business documentation, Project Management, Agile Framework practices as needed. Should inspect the current Cloudera Architecture and suggest enhancements or improve it. Should be able to communicate with Senior Business Management ideas, concepts and deliverables. If you have certifications on Cloudera (Cloudera Data Engineer, Spark and Hadoop Developer), it will be an added advantage. Data Scientist - Compliance Responsibilities: Use advanced analytics methods to extract value from business data Perform large-scale experimentation and build data-driven models to answer business questions Conduct research on cutting-edge techniques and tools in machine learning/deep learning/artificial intelligence Determine requirements that will be used to train and evolve deep learning models and algorithms Articulate a vision and roadmap for the exploitation of data as a valued corporate asset Influence product teams through presentation of data-based recommendations Evangelize best practices to analytics and products teams Assemble large, complex data sets that meet functional / non-functional business requirements. Identify, design, and implement internal process improvements: automating manual processes, optimizing analytics delivery, re-designing infrastructure for greater scalability, etc. Build analytics tools that utilize the data to provide actionable insights into customer acquisition, operational efficiency and other key business performance metrics. Work with stakeholders including the Executive, Product, Data and Design teams to assist with analytics related technical issues and support their data infrastructure needs. Work with data and analytics experts to strive for greater functionality data systems Typical skills and background: SKILLS: Can work with data to identify patterns. Use judgement to form conclusions that may challenge conventional wisdom and focus on the crux of issues to identify high-leverage intervention points and strategies. Rapidly acquire new knowledge and learn new skills Seek to understand business needs and get results that have a clear, positive, and direct impact on business performance Apply different strategies to convince others to change their opinions or plans and ensure that proposals or arguments are supported by strong logic and a compelling business case, addressing all relevant factors. Consider the relative costs and benefits of potential actions to choose the most appropriate one Communication and storytelling Teamwork and collaboration Banking domain business knowledge Advanced analytics modelling and orchestration Solid development skills in Java, Scala and SQL Sound knowledge of using data science tools and languages like Cloudera Data Science Workbench (CDSW), Jupyter Notebook, Python etc. Clear hands-on mastery in big datab systems - Hadoop ecosystem, Cloud technologies (AWS, Azure, Google), in-memory database systems (HANA, Hazel cast, etc) and other database systems - traditional RDBMS (Terradata, SQL Server, Oracle), and NoSQL databases (Cassandra, MongoDB, DynamoDB) Comfortable in dashboard development (Tableau, Powerbi, Qlik, etc) and in developing data analytics models (R, Python, Spark) EXPERIENCE AND QUALIFICATION: Masters degree from top-tier college/university in Computer Science, Statistics, Economics, or other closely-related field Minimum of 6 years' hands-on experience with a strong data background Extensive experience working with Big Data tools and building data solutions for advanced analytics Experience with statistical software, scripting languages, and packages (e.g. R, MATLAB, SAS, and Python) Considerable experience in solving business problems with advanced analytical solutions Proven experience in conducting statistical analysis and building models with advanced scripting language such as R, SPSS, or other analytic tools. Experience building and deploying predictive models, web scraping, and scalable data pipelines. Strong understanding of statistical methods and skills such as Bayesian Networks Inference, linear and non-linear regression, hierarchical, mixed models/multi-level modeling Practical knowledge across data extraction and transformation tools - traditional ETL tools (Informatica, Altryx) as well as more recent big data tools Financial Renumeration will be based on your skills and expertise. Notice Period of 30 to 45 days preferred Previous working experience in Middle East and Gulf regions preferred Roles and Responsibilities   Desired Candidate Profile   Perks and Benefits",
 'Data Scientist Primary Location India, Bangalore Date posted 08/01/2021 Apply Now Save Job ID: JR0024575   Job Title: Data Scientist   Role Overview: Data scientist will be doing research on innovative projects in platform engineering group at McAfee. Platform Engineering Group is the is one of the core groups responsible for collecting data from millions of sensors from various products of Enterprises, using the data to protect the customers, provide insights and necessary actions to be taken for security gap.  This position is an integral part of the McAfee Enterprise business segment which was acquired by Symphony Technology Group (STG) in July 2021. McAfee Enterprise and its team members remain committed to keeping governments and enterprises safe. This position is dedicated to and part of the McAfee Enterprise business.    Company Overview McAfee is a leader in personal security for consumers. Focused on protecting people, not just devices, McAfee consumer solutions adapt to users needs in an always online world, empowering them to live securely through integrated, intuitive solutions that protects their families and communities with the right security at the right moment. About the Role: Develop Machine learning models to analyze and obtain practical insights from large volume of data that requires expertise at data exploration, analysis and feature engineering Experiment and Develop POCs of innovative ideas to come up with new solutions for addressing security gaps Create machine learning pipelines to automate generation of efficient and better models Communicate and work with engineering teams to productionize the solutions Taking ownership and responsibility of the solutions and driving to closure Participate in data and product analytics to develop customer insights and product features Implement newer machine learning algorithms and models to improve the efficacy of the existing solutions Publish research papers on the experiments and machine learning solutions About you : 5+ years of experience in the field of Data Science 5+ years of programming experience in at least one of Python or Java 3+ years of working experience on large datasets using ML and experience with ML model life cycle PhD degree in Computer Science, Data Science, Statistics, Mathematics or other related fields is preferred Deep knowledge in Natural Language processing, Deep learning, statistics, predictive modeling and time series analysis. Passionate about Cybersecurity and want to apply machine learning solutions in this space to solve security problems. Experience working on Big data problems Experience working on problems relevant to detecting risk, fraud and trust is an added advantage Experience in working in AWS cloud environment is an added advantage Experience with Publishing research papers',
 'Dynamic recruiting professional with 7 - 10 years of high-performance tech recruiting experience with search firms and /or mid-large-sized technology companies. Experience in engaging and hiring the best talent for Data Engineers, Data Scientist and SAP Open to learning from your peers managers, anything that helps you do your job better day in day out also often share best practices in hiring talent attraction strategies with them. Work well with teams as also on your own as a high-impact individual contributor. Use social media, job boards, Internet sourcing, and other technical means to source candidates for open jobs. Understanding of modern recruiting methods like hackathons but are equally comfortable with old school methods as well. Work with internal technology teams and hiring managers to assist with recruitment efforts across levels. Work in sync with the company-wide recruitment strategy. This may include job posting optimization, recruiting marketing channel development, search selection using job boards, digital and non-digital employment marketing, comprehensive recruitment campaign planning, talent planning, stakeholder management, etc. Identify and source appropriate talent for current open roles within the organization using traditional non-traditional means of recruiting. Proactively develop talent pools/talent communities to dip into when hiring is in full swing. Manage the end-to-end recruitment process and life-cycle, including sourcing, initial assessments, telephonic personal interviews culminating in offers maintaining the appropriate MIS.',
 'Basic Qualifications 3-5 years of hands-on experience in in data science, applied statistics, machine learning, data mining, statistical modeling tools and underlying algorithms 3-5 years of hands-on experience building production grade machine learning enabled solutions end to end. 3-5 years of experience in statistical modeling methods, time series, text mining, optimization, information retrieval 3-5 years hands-on experience using R, Python or and other languages appropriate for large scale analysis of numerical and textual data 3-5 years Hands-on experience using SQL and data mining Experience with experiments, machine learning, deep learning, anomaly detection, predictive analysis, exploratory data analysis, and other areas of data science Experience using large data systems Advanced data visualization experience Experience in business, program and/or strategy planning Experience in business, program and/or strategy planning Experience in business, program and/or strategy planning. Job Requirements: Python, SQL, R Language, Machine Learning for Rules, AI Hub, Machine Learning Fundamentals, Machine Learning Application',
 'Dear Candidates We are looking for a competent and enthusiastic candidate with the below requirement. This vital role ensures Cunesoft India Pvt Ltd (a Phlexglobal Company) Bangalore can provide a high-quality end product to internal and external users. This position requires strong technical and communication skills as well as both independent and team working, including working closely with all other areas of the software delivery team and the rest of the Technology department. Roles and Responsibilities  Key Activities Develop and improve the existing data mining and NLP related processes within our Regulatory Data Management platform Develop new ways of improving and transforming the regulatory processes of Phlexglobal customers. Interact with product management, project management and development teams to develop additional modules and functions within the Phlexglobal Cloud Platform Design and create solutions for pre specified modules and functions Use existing tools and techniques to develop and test new and existing work Define, create and execute automated test cases, i.e. unit tests Participate in troubleshooting and triaging of issues with different teams to drive towards root cause identification and resolution Support production deployment of applications and perform validation testing during the off-hours maintenance windows Support and fix existing and new identified issues by either customers or internal test teams.  Desired Candidate Profile   Required Skills & Experience  Minimum 3+ years working experience in NLP, Artificial Intelligence, Machine Learning, Text Mining, Neural Networks Strong programming skills using PYTHON In depth experience with OpenNLP, Stanford NLP or related NLP / data mining technologies In depth experience with Python and data libraries such as scikit learn, pandas, numpy, etc. Selecting features, building and optimizing classifiers using Machine learning techniques Excellent understanding of Machine Learning Techniques and Algorithms. Must have Data mining / Natural Language Processing experience Must have very good understanding of GIT Processing, Cleansing, and verifying the integrity of data Develop custom data models and algorithms to apply to data sets. Defining validation strategies Defining the preprocessing or feature engineering to be done on a given dataset Defining data augmentation pipelines Training models and tuning their hyperparameters Analyzing the errors of the model and designing strategies to overcome them Deploying models to production  Added advantages 3+ years experience using Microsoft .NET / C# Exposure to ML.Net, AutoML, NimbusML, etc Good knowledge of Microsoft Visual Studio is preferred Good to have Microsoft SQL Server, preferably Microsoft SQL Azure Previous experience in the Life sciences area  Other requirements Excellent verbal and written communication skills Must be flexible, independent and self motivated Punctual, Regular and consistent attendance As part of the Interview process, you should have attempted the below mentioned Kaggle project.  https://www.kaggle.com/c/titanic  We would like to arrange a phone interview with you. Please confirm your interest in this position by sending your recent CV attached along with below details.  Total years of Experience :  Relevant Experience :  Current CTC :  Expected CTC :  Notice Period :  Current Location :  Best time to talk to you :  Candidates with relevant experience can contact me.  We are looking for a candidate who can join us immediately / in less than 15-20 days / 30 days / ASAP  Please ignore, if you have already been interviewed within 3 months.  Thanks Srini  sarumugam@phlexglobal.com +91 63660 85842  Dot Net Developer  Junior (3-5 yrs), Mid (5-8 yrs) & Lead (8-12 yrs) level roles.  Commercial experience in web development using the full Microsoft .Net development stack (specifically C#, MVC, .Net Core), SQL, front-end frameworks (jQuery, React, etc).  Coding, Entity framework, Linq, Source control system (Any - TFS or GIT), Data structures  Skilled in modern development principles (Agile, SOLID, TDD, design patterns, IoC)  At least theoretical knowledge - know-SQL database (example Azure Cosmos)  Good to have - Ideally experience of Azure, MVVM, microservices, message bus, containerisation, serverless.  Microsoft .Net development stack, C#, MVC, .Net Core, SQL, front-end frameworks, jQuery, React, Entity framework, Linq, TFS, GIT, Data structures, Agile, SOLID, TDD, design patterns, IoC, SQL database, Azure Cosmos, Azure, MVVM, microservices, message bus, containerisation, serverless',
 "About the role We are looking for skilled motivated professionals who will support and own multiple projects globally that drive business growth while still balancing compliance risk and partner friction. The role will cover areas such as (not limited to) Sanctions screening; Partner and user compliance; Customer due diligence; Transaction monitoring; Metrics development and monitoring; and Model and Strategy development - to help balance partner friction and compliance risk What you'll do Develop and manage user risk rating models that meet applicable regulatory requirements and are aligned with standard methodologies and practices. Interpret large amounts of complex data to formulate problem statements, concise conclusions regarding underlying risk dynamics, trends, and opportunities Identify key risk indicators and metrics while developing and monitoring key parameters, enhance reporting, and identify new areas of analytic focus to better understand operational risk. Own compliance specific area - end to end - ranging from the discovery of the business problem to eventually working with the Engineering/Product teams to execute it Strategy design and analysis of domain-specific use-cases such as Reduction of cost of compliance; Improve monitoring mechanism to alert any anomaly in compliance or business metric; Improve funnel for Partner onboarding, thereby improving user experience; and Drive multiple experiments to evaluate and quantify the hypothesis Extensive data analytics and SQL query writing Predictive modeling / Machine learning algorithms - using random Forest / Decision tree / Logistic regression Key Qualifications 6 years of proven experience in a data-focused role such as product analytics, business analytics, business operations, or data science Education in Engineering, Computer Science, Math, Economics, Statistics or equivalent experience Past experience in Payments or Compliance with a Product / Tech company serving millions of customers on multiple platforms and countries BA/BS in Mathematics, Statistics, Computer Science, Economics, Business or analytical field SQL mastery. Write efficient and complex code in SQL Experience in Python/R and in experimentation, A/B testing, and statistical modeling Define business metrics, including Key Performance Indicators, for financial products, in close partnership with Product Management and other leaders Proven ability to handle large datasets, explore and utilize raw data feeds Excellent data visualization skills Love of data - you just go get the data you need and turn it into an insightful story. You know how to convert data into decisions without getting stuck in paralysis by analysis A well-organized, structured approach to problem-solving Strong sense of ownership, accountability, and entrepreneurial spirit Able to lead change and solution-oriented Great communicator, problem-solver confident in decision making Independent autonomous, while still a strong teammate Enthusiastic, self-starting and thrives in changing, agile environment.",

In [391]:
desc2 = []
for d in desc_url:
    driver.get(d)
    try:
        content= driver.find_element_by_xpath("//div[@class='clearboth description']").text.replace('\n'," ").replace('\n\n'," ")
        
        desc2.append(content)
    except:
        pass

In [387]:
desc2 #last 2 descriptions are in here

['We are looking for an experienced Data Scientist to join a growing team. In this role you will apply your knowledge of mathematics, statistics, modeling, business analysis, and technology to transform high volumes of complex data into advanced analytic solutions to identify cybercrimes and hacktivism threats in a scalable way. There is no limitation on the analytics and could be as simple as rule-based detection or as complex as using AI/ML to classify threats. You ll also evaluate accuracy and quality of data sources, as well as the designed models. In addition, you ll evaluate new and existing data sources, processes, and architecture to develop recommendations.\nWhat you ll do:\nAs a Senior Data Scientist you will:\n- Design the overall architecture and functions of a security application\n- Develop & Implement the plan\n- Manage the code base and provide incremental updates / fixes\n- Ensure the code is solving the problem statement / use cases\n- Document and present your solution and ideas to stakeholders\nRequired Technical and Professional Expertise\nMin 5 years of Experience in data analytics, predictive analytics, mathematics, statistics, or similar field.\nExperience in end-to-end ML engineering / MLOps.\nExperience in R, Python, Spark, TensorFlow, PyTorch, Keras or similar\nAdvanced knowledge of statistical concepts such as regressions, time series, mixed model, Bayesian methods, clustering, etc., to analyze data and provide insights.\nUnderstanding of solutions on multiple public and private clouds.\nUnderstanding of data usage, process analysis and improvement, technology development/support.\nExperience in open source Machine, and Deep Learning frameworks, model validation and deployment tools, data pipeline technologies, and visualization and data storytelling tools.\nExperience in data preparation, manipulation, and cleansing, in particular for large datasets.\nExperience in manual and automated testing for machine learning applications.\nExperience using RESTful APIs.\nPreferred Technical and Professional Expertise\nExperience in Information Security with a particular focus on Security Analytics, Security Architecture, and other cyber security.\nDemonstrated experience in understanding unclear customer requirements and how they translate into technical tasks.\nExcellent oral and written communication skills, especially in conveying complex technical topics to non-technical personnel.\nGood knowledge of the Mitre ATT@CK framework or similar.\nGood knowledge of frameworks and standards such as STIX, TAXII, NIST.',
 'As a Data Scientist at IBM, you will help transform our clients data into tangible business value by analyzing information, communicating outcomes and collaborating on product development. Work with Best in Class open source and visual tools, along with the most flexible and scalable deployment options. Whether it s investigating patient trends or weather patterns, you will work to solve real world problems for the industries transforming how we live.\n\nYour Role and Responsibilities\nData Science Consultants are adept across data science techniques using open source tools to solve varied use cases for our clients\nThey work to build strong, enduring relationships with client staff based on innovation, trust and service excellence.\nThey are accountable for successful delivery of complex data science engagements adhering to client s requirements and timelines\nThey learn constantly and lead adoption of emerging technologies and approaches in their processes benefiting the client & IBM overall.\nRequired Technical and Professional Expertise\nBTech (with 8 years of relevant experience) or Masters (with 6 years of relevant experience) in Operations Research, Applied Mathematics/ Statistics/ Econometrics, Electrical or Systems Engineering, Physics or similar highly quantitative field\nStrong ability to transform business requirements into data science formulations and implement the solutions in an efficient and scalable fashion\nSound understanding of data science concepts, model development & performance tuning processes as well as coding, version control and CI/CD best practices\nDemonstrated extensive experience in building and deploying production quality models in a live digital environment using data pipelines and ML Ops frameworks including handling model drift, retraining and version control lifecycle\nHighly skilled in Python and various data science related libraries of Python including TensorFlow, Keras, Sci-Kit Lean, Pandas, Numpy and PySpark\nExperience in Convolutional Neural Network / Computer Vision projects using TensorFlow, PyTorch and leveraging public / open-source libraries (VGG16, ImageNet, YOLO, OpenCV, etc) as well as ability to tweak, modify these CNN architectures when required for a specific business problem.\nDemonstrated ability of scoping, executing and scaling multiple data science deliverables on their own\nMust have worked in developing and deploying models using more than one cloud platform (AWS, Azure, GCP, IBM)\nAbility to handle multiple projects as an individual contributor and as a lead / mentor to other team members managed directly or indirectly on a project / assignment\nExcellent interpersonal and stakeholder management skills including ability to interact and present to senior stakeholders']

In [420]:
descriptions = [] #combining values of desc1 and desc2 into main 'descriptions' list
for i in range(0,8):
    descriptions.append(desc[i])
for j in range(0,2):
    descriptions.append(desc2[j])

#### Storing in JobDF Dataframe

In [421]:
JobDF = pd.DataFrame({"Job Title":job_title[0:10],"Company":company[0:10],"Location":locations[0:10],"Job Description":descriptions[0:10]})
JobDF.reset_index(drop=True,inplace = True)
JobDF.index+= 1

In [422]:
JobDF

,Job Title,Company,Location,Job Description
1,Senior Data Scientist,Datamatics Global Services Ltd,Bangalore/Bengaluru,Roles and Responsibilities Details in lined f...
2,Senior Data Scientist,SYMBIOSIS International W.L.L,Bangalore/Bengaluru,Required Candidate profile We are looking for ...
3,DATA SCIENTIST,McAfee Software (India) Pvt. Ltd,Bangalore/Bengaluru,"Data Scientist Primary Location India, Bangalo..."
4,"Data Engineers , Data Scientist and SAP",Teamware Solutions,Bangalore/Bengaluru,Dynamic recruiting professional with 7 - 10 ye...
5,Python - Data Scientist,Mindtree Limited,Bangalore/Bengaluru,Basic Qualifications 3-5 years of hands-on exp...
6,Software Developer - Data Scientist / NLP / Ma...,Cunesoft India Private Limited,Bangalore/Bengaluru,Dear Candidates We are looking for a competent...
7,Data scientist,Uber,Bangalore/Bengaluru,About the role We are looking for skilled moti...
8,Senior Associate - Data Scientist,Novotree Minds Consulting Pvt Limited,Bangalore/Bengaluru,Roles and Responsibilities As a Senior Associa...
9,Senior Data Scientist,IBM India Pvt. Limited,Bangalore/Bengaluru,We are looking for an experienced Data Scienti...
10,Sr Data Scientist,IBM India Pvt. Limited,Bangalore/Bengaluru,"As a Data Scientist at IBM, you will help tran..."

### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

####  You have to use the location and salary filter.
####  You have to scrape data for “Data Scientist” designation for first 10 job results.
####  You have to scrape the job-title, job-location, company_name, experience_required.
####  The location filter to be used is “Delhi/NCR”
####  The salary filter to be used is “3-6” lakhs

In [3]:
driver = webdriver.Chrome("chromedriver.exe")

In [5]:
url = 'https://www.naukri.com/' 
driver.get(url)

jobsearch = driver.find_element_by_id('qsb-keyword-sugg')
jobsearch
jobsearch.send_keys("Data Scientist")
search = driver.find_element_by_class_name('btn')
search.click()

In [25]:
location_filter = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[3]")
location_filter.click()

In [26]:
salary_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]')
salary_filter.click()

In [31]:
job_title = []
company = []
locations = []
xp = []

In [32]:
title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
xp_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

for i in title_tag:
    job_title.append(i.text)
for c in company_tag:
    company.append(c.text)
company
for l in location_tag:
    locations.append(l.text)
for x in xp_tag:
    xp.append(x.text)

#### Storing in JobDF Dataframe

In [33]:

JobDF = pd.DataFrame({"Job Title":job_title[0:10],"Company":company[0:10],"Experience":xp[0:10],"Location":locations[0:10]})
JobDF.reset_index(drop=True,inplace = True)
JobDF.index+= 1

In [34]:
JobDF

,Job Title,Company,Experience,Location
1,Data Scientist / Sr. Data Scientist,WEGARNER SOLUTIONS PRIVATE LIMITED,0-5 Yrs,"Noida, Pune, Mumbai (All Areas)"
2,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,0-0 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
3,Data Scientist,CBRE South Asia Pvt Ltd,2-4 Yrs,Gurgaon/Gurugram
4,Senior Data Scientist - Noida,Optum Global Solutions (India) Private Limited,2-6 Yrs,Noida
5,Data Scientist / Data Analyst,CARS24,1-5 Yrs,Gurgaon/Gurugram
6,Immediate Openings For DATA Scientist with 6 T...,Entune IT Consulting Private Limited,5-8 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
7,Data Scientist,Decimal Technologies Pvt Ltd.,1-3 Yrs,Gurgaon/Gurugram
8,Senior Data Scientist,inVentiv International Pharma Services Pvt. Ltd.,3-6 Yrs,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang..."
9,Data Scientist,R Systems International Ltd.,5-10 Yrs,Noida(Sector-59 Noida)
10,Data Scientist - Machine Learning/NLP,TalPro,2-6 Yrs,Gurgaon/Gurugram

### Q9: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [333]:
driver = webdriver.Chrome("chromedriver.exe")

In [334]:
url = 'https://www.glassdoor.co.in/index.htm' 
driver.get(url)

In [336]:

jobsearch = driver.find_element_by_id('sc.keyword')
jobsearch
jobsearch.send_keys("Data Scientist")
location = driver.find_element_by_id('sc.location')
location.send_keys("Noida")
search = driver.find_element_by_xpath('/html/body/header/nav[1]/div/div/div/div[4]/div[2]/form/div/button/span')
search.click()

In [342]:
company = []
job_title = []
ago = []
Rating = []
company_tag = driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")
title_tag = driver.find_elements_by_xpath("//a[@class='jobLink css-1rd3saf eigr9kq2']")
daysago_tag = driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
Rating_tag = driver.find_elements_by_xpath("//div[@class='d-flex flex-column css-x75kgh e1rrn5ka3']//span")

In [343]:

for i in company_tag:
    company.append(i.text)
for j in title_tag :
    job_title.append(j.text)

for d in daysago_tag:
    ago.append(d.text)
for r in Rating_tag:
    Rating.append(r.text)

In [344]:
Rating

['',
 '',
 '',
 '',
 '',
 '4.1',
 '',
 '4.6',
 '',
 '',
 '',
 '3.3',
 '',
 '3.8',
 '',
 '',
 '',
 '',
 '5.0',
 '',
 '',
 '',
 '',
 '',
 '4.1',
 '',
 '3.1',
 '',
 '',
 '',
 '3.7',
 '',
 '',
 '',
 '3.8',
 '',
 '',
 '3.8',
 '',
 '3.7',
 '',
 '',
 '',
 '4.1',
 '',
 '3.8',
 '',
 '',
 '',
 '',
 '4.3',
 '',
 '4.5',
 '',
 '3.8',
 '',
 '4.2',
 '',
 '3.8',
 '',
 '',
 '3.0',
 '',
 '3.9']

In [345]:
Rating2 = []
Rating2 = [Rating[x] for x in range(1,15,2)]
for x in range(16,21,2):
    Rating2.append(Rating[x] )
Rating2
Rating2 = ["N/A" if i =='' else i for i in Rating2]

In [346]:
Rating2

['N/A', 'N/A', '4.1', '4.6', 'N/A', '3.3', '3.8', 'N/A', '5.0', 'N/A']

#### Storing in JobDF Dataframe

In [347]:
JobDF = pd.DataFrame({"Job Title":job_title[0:10],"Company":company[0:10],"Job Age":ago[0:10],"Rating":Rating2[0:10]})
JobDF.reset_index(drop=True,inplace = True)
JobDF.index+= 1

In [348]:
JobDF

,Job Title,Company,Job Age,Rating
1,Associate Data Scientist,Liberin Technologies Private Limited,10d,N/A
2,Data Scientist Intern,Pixel Vision,21d,N/A
3,Data Scientist,Biz2Credit Inc,30d+,4.1
4,Data Science Internship,DataTrained,24h,4.6
5,Data Scientist Intern,Salasar New Age Technologies,30d+,N/A
6,Data Scientist,Newgen Software,22d,3.3
7,Data Scientist,Crowe,30d+,3.8
8,Data Scientist,Salasar New Age Technologies,30d+,N/A
9,Data Scientist,Techlive,30d+,5.0
10,Data Science Intern,Data Trained Education,24h,N/A

### Q10: Write a python program to scrape the salary data for Data Scientist designation in Noida location. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary and rating.

In [239]:
driver = webdriver.Chrome("chromedriver.exe")

In [240]:
url = 'https://www.glassdoor.co.in/Salaries/index.htm' 
driver.get(url)

In [241]:

jobsearch = driver.find_element_by_id('KeywordSearch')
jobsearch
jobsearch.send_keys("Data Scientist")
location = driver.find_element_by_id('LocationSearch')
location.send_keys("Noida")
search = driver.find_element_by_xpath('/html/body/div[3]/div/div[1]/div[1]/div/div/form/button')
search.click()

In [324]:

company = []
job_title = []
Rating = []
sals = []
avg_sal = []
sal_num = []
Rating_tag = driver.find_elements_by_xpath("//span[@class='m-0 css-kyx745']")
company_tag = driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
title_tag = driver.find_elements_by_xpath("//div[@class='col-12 col-lg px-xsm']//span")
sal_num_tag = driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']//span")
sals_tag = driver.find_elements_by_xpath("//div[@class='d-none d-lg-block']//p")
avg_sal_tag = driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")
for i in company_tag:
    company.append(i.text)
for j in title_tag :
    job_title.append(j.text)
for r in Rating_tag:
    Rating.append(r.text)
for n in sal_num_tag:
    sal_num.append(n.text)
for m in sals_tag:
    sals.append(m.text)
for a in avg_sal_tag:
    avg_sal.append(a.text.replace("\n ",""))

In [325]:
avg_sal

['₹6,12,205/yr',
 '₹9,00,000/yr',
 '₹11,63,336/yr',
 '₹12,18,244/yr',
 '₹7,39,238/yr',
 '₹12,80,000/yr',
 '₹8,63,750/yr',
 '₹11,10,000/yr',
 '₹14,23,677/yr',
 '₹13,28,697/yr',
 '₹11,42,356/yr',
 '₹12,09,040/yr',
 '₹14,15,338/yr',
 '₹10,22,074/yr',
 '₹10,09,021/yr',
 '₹10,00,000/yr',
 '₹10,55,478/yr',
 '₹34,157/mo',
 '₹10,54,402/yr',
 '₹80,000/mo']

In [326]:
sals

['₹3L',
 '₹13L',
 '₹6L',
 '₹27L',
 '₹6L',
 '₹22L',
 '₹5L',
 '₹1Cr',
 '₹4L',
 '₹16L',
 '₹8L',
 '₹15L',
 '₹5L',
 '₹15L',
 '₹6L',
 '₹15L',
 '₹8L',
 '₹20L',
 '₹4L',
 '₹22L',
 '₹2L',
 '₹18L',
 '₹6L',
 '₹17L',
 '₹10L',
 '₹21L',
 '₹4L',
 '₹16L',
 '₹8L',
 '₹13L',
 '₹9L',
 '₹15L',
 '₹8L',
 '₹20L',
 '₹12T',
 '₹63T',
 '₹4L',
 '₹17L',
 '₹25T',
 '₹1L']

#### Separating min and max salaries

In [327]:
min_sal =[]
max_sal = []

for i in range(0,len(sals),2):
    min_sal.append(sals[i])
for j in range(1,len(sals),2):
    max_sal.append(sals[j])

In [328]:
min_sal

['₹3L',
 '₹6L',
 '₹6L',
 '₹5L',
 '₹4L',
 '₹8L',
 '₹5L',
 '₹6L',
 '₹8L',
 '₹4L',
 '₹2L',
 '₹6L',
 '₹10L',
 '₹4L',
 '₹8L',
 '₹9L',
 '₹8L',
 '₹12T',
 '₹4L',
 '₹25T']

In [329]:
max_sal

['₹13L',
 '₹27L',
 '₹22L',
 '₹1Cr',
 '₹16L',
 '₹15L',
 '₹15L',
 '₹15L',
 '₹20L',
 '₹22L',
 '₹18L',
 '₹17L',
 '₹21L',
 '₹16L',
 '₹13L',
 '₹15L',
 '₹20L',
 '₹63T',
 '₹17L',
 '₹1L']

#### Storing in JobDF Dataframe

In [331]:
JobDF = pd.DataFrame({"Job Title":job_title[0:10],"Company":company[0:10],"Minimum Salary(₹)":min_sal[0:10],"Maximum Salary(₹)":max_sal[0:10],"Average Salary(₹)":avg_sal[0:10],"Number of Salaries":sal_num[0:10],"Rating":Rating[0:10]})
JobDF.reset_index(drop=True,inplace = True)
JobDF.index+= 1
JobDF

,Job Title,Company,Minimum Salary(₹),Maximum Salary(₹),Average Salary(₹),Number of Salaries,Rating
1,Data Scientist,Tata Consultancy Services,₹3L,₹13L,"₹6,12,205/yr",18 salaries,3.9
2,Data Scientist,IBM,₹6L,₹27L,"₹9,00,000/yr",18 salaries,3.9
3,Data Scientist,Accenture,₹6L,₹22L,"₹11,63,336/yr",15 salaries,4.1
4,Data Scientist,Delhivery,₹5L,₹1Cr,"₹12,18,244/yr",15 salaries,3.9
5,Data Scientist,Ericsson-Worldwide,₹4L,₹16L,"₹7,39,238/yr",14 salaries,4
6,Data Scientist,UnitedHealth Group,₹8L,₹15L,"₹12,80,000/yr",14 salaries,3.6
7,Data Scientist,Valiance Solutions,₹5L,₹15L,"₹8,63,750/yr",10 salaries,4.2
8,Data Scientist,EXL Service,₹6L,₹15L,"₹11,10,000/yr",9 salaries,3.6
9,Data Scientist,Optum,₹8L,₹20L,"₹14,23,677/yr",9 salaries,3.7
10,Data Scientist,Optum Global Solutions,₹4L,₹22L,"₹13,28,697/yr",9 salaries,3.9

### Q4 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
#### 1. Brand
#### 2. Product Description
#### 3. Price
#### 4. Discount %

In [626]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.flipkart.com' 
driver.get(url)
glassessearch = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
glassessearch.send_keys("Sunglasses")
search = driver.find_element_by_class_name('L0Z3Pu')
search.click()

In [627]:
brand = []
desc = []
price = []
disc = []

In [628]:
    brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    disc_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    desc_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

    for b in brand_tag:
        brand.append(b.text)
    for d in desc_tag :
        desc.append(d.text)
    for p in price_tag:
        price.append(p.text)
    for c in disc_tag:
        disc.append(c.text)

In [629]:
import time

In [630]:
i=0
nextbtn = driver.find_element_by_class_name('_1LKTO3')
while(i<2):
    try:
        nextbtn.click()
    except:
        pass
    time.sleep(3) #to allow the page to load completely before scraping.
    brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    disc_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    desc_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    
    for b in brand_tag:
        try:
            brand.append(b.text)
        except:
            pass
    
    for d in desc_tag :
        try:
            desc.append(d.text)
        except:
            pass
    
    for p in price_tag:
        try:
            price.append(p.text)
        except:
            pass
    for c in disc_tag:
        try:
            disc.append(c.text)
        except:
            pass

    
    if 'inactive' in nextbtn.get_attribute('class'):
        break;
    
    i=i+1

#### Storing in SunglassesDF DataFrame

In [631]:
SunglassesDF = pd.DataFrame({"Brand Name":brand[0:100],"Price(₹)":price[0:100],"Discount":disc[0:100],"Description":desc[0:100],})
SunglassesDF.reset_index(drop=True,inplace = True)
SunglassesDF.index+= 1
SunglassesDF.shape

(100, 4)

In [632]:
SunglassesDF

,Brand Name,Price(₹),Discount,Description
1,HAMIW COLLECTION,₹199,86% off,"UV Protection Wayfarer, Sports, Shield, Rectan..."
2,Wrogn,₹739,71% off,Mirrored Wayfarer Sunglasses (51)
3,Elligator,₹295,88% off,UV Protection Round Sunglasses (54)
4,Fastrack,₹599,25% off,UV Protection Rectangular Sunglasses (Free Size)
5,Fastrack,₹699,22% off,UV Protection Wayfarer Sunglasses (Free Size)
...,...,...,...,...
96,ROYAL SON,₹854,57% off,UV Protection Shield Sunglasses (Free Size)
97,Fastrack,₹609,32% off,UV Protection Wayfarer Sunglasses (Free Size)
98,Fastrack,₹669,25% off,UV Protection Rectangular Sunglasses (58)
99,ROYAL SON,₹474,68% off,"UV Protection, Gradient Wayfarer Sunglasses (55)"
100,ROYAL SON,₹203,79% off,"Gradient, UV Protection Wayfarer Sunglasses (F..."

### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.Scrape the data for first 100 reviews.
#### 1. Rating
#### 2. Review_summary
#### 3. Full review

In [633]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace' 
driver.get(url)

In [634]:
viewall = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span')
viewall.click()

In [635]:
rev_sum = []
rating = []
rev = []

In [636]:
    rev_sum_tag = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    rev_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    

    for r in rev_sum_tag:
        rev_sum.append(r.text)
    for j in rating_tag :
        rating.append(j.text)
    for k in rev_tag:
        rev.append(k.text.replace("\n"," "))

In [637]:
import time

In [638]:
i=0
nextbtn = driver.find_element_by_class_name('_1LKTO3')
while(i<10):
    try:
        nextbtn.click()
    except:
        pass
    
    time.sleep(3) #to allow the page to load completely before scraping.
    rev_sum_tag = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    rev_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for r in rev_sum_tag:
        try:
            rev_sum.append(r.text)
        except:
            pass
    for j in rating_tag :
        try:
            rating.append(j.text)
        except:
            pass
    for k in rev_tag:
        try:
            rev.append(k.text.replace("\n"," "))
        except:
            pass

    
    
    
    i=i+1

#### Storing values in iphoneDF Dataframe

In [640]:
iphoneDF = pd.DataFrame({"Summary":rev_sum[0:100],"Full Review":rev[0:100],"Rating":rating[0:100]})
iphoneDF.reset_index(drop=True,inplace = True)
iphoneDF.index+= 1
iphoneDF.shape

(100, 3)

In [642]:
iphoneDF

,Summary,Full Review,Rating
1,Simply awesome,Really satisfied with the Product I received.....,5
2,Brilliant,The Best Phone for the Money The iPhone 11 of...,5
3,Perfect product!,Amazing phone with great cameras and better ba...,5
4,Fabulous!,This is my first iOS phone. I am very happy wi...,5
5,Worth every penny,Previously I was using one plus 3t it was a gr...,5
...,...,...,...
96,Perfect product!,Iphone is just awesome.. battery backup is ver...,5
97,Highly recommended,It's my first time to use iOS phone and I am l...,5
98,Simply awesome,"Excellent camera, good performance, no lag. Th...",5
99,Worth every penny,It’s been almost a month since I have been usi...,5
100,Terrific,Really worth of money. i just love it. It is t...,5

In [641]:
iphoneDF.head(25)

,Summary,Full Review,Rating
1,Simply awesome,Really satisfied with the Product I received.....,5
2,Brilliant,The Best Phone for the Money The iPhone 11 of...,5
3,Perfect product!,Amazing phone with great cameras and better ba...,5
4,Fabulous!,This is my first iOS phone. I am very happy wi...,5
5,Worth every penny,Previously I was using one plus 3t it was a gr...,5
6,Great product,Amazing Powerful and Durable Gadget. I’m am v...,5
7,Worth every penny,"i11 is worthy to buy, too much happy with the ...",5
8,Good choice,So far it’s been an AMAZING experience coming ...,4
9,Highly recommended,iphone 11 is a very good phone to buy only if ...,5
10,Best in the market!,Great iPhone very snappy experience as apple k...,5
11,Simply awesome,Really satisfied with the Product I received.....,5
12,Brilliant,The Best Phone for the Money The iPhone 11 of...,5
13,Perfect product!,Amazing phone with great cameras and better ba...,5
14,Fabulous!,This is my first iOS phone. I am very happy wi...,5
15,Worth every penny,Previously I was using one plus 3t it was a gr...,5
16,Great product,Amazing Powerful and Durable Gadget. I’m am v...,5
17,Worth every penny,"i11 is worthy to buy, too much happy with the ...",5
18,Good choice,So far it’s been an AMAZING experience coming ...,4
19,Highly recommended,iphone 11 is a very good phone to buy only if ...,5
20,Best in the market!,Great iPhone very snappy experience as apple k...,5
21,Perfect product!,It’s a must buy who is looking for an upgrade ...,5
22,Perfect product!,Value for money❤️❤️ Its awesome mobile phone i...,5
23,Highly recommended,What a camera .....just awesome ..you can feel...,5
24,Classy product,Totally in love with this ❤ the camera quality...,5
25,Worth every penny,Best budget Iphone till date ❤️ go for it guys...,5

### Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
#### You have to scrape 4 attributes of each sneaker :
#### 1. Brand
#### 2. Product Description
#### 3. Price
#### 4. discount %

In [656]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.flipkart.com' 
driver.get(url)
Sneakerssearch = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
Sneakerssearch.send_keys("Sneakers")
search = driver.find_element_by_class_name('L0Z3Pu')
search.click()

In [657]:


brand = []
desc = []
price = []
disc = []
brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
disc_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
desc_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for b in brand_tag:
   brand.append(b.text)
for d in desc_tag :
   desc.append(d.text)
for p in price_tag:
   price.append(p.text)
for c in disc_tag:
   disc.append(c.text)

In [658]:

import time 


i=0
nextbtn = driver.find_element_by_class_name('_1LKTO3')
while(i<2):
    try:
        nextbtn.click()
    except:
        pass
    time.sleep(3) #to allow the page to load completely before scraping.
    brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    disc_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    desc_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    
    for b in brand_tag:
        try:
            brand.append(b.text)
        except:
            pass
    
    for d in desc_tag :
        try:
            desc.append(d.text)
        except:
            pass
    
    for p in price_tag:
        try:
            price.append(p.text)
        except:
            pass
    for c in disc_tag:
        try:
            disc.append(c.text)
        except:
            pass

    
    if 'inactive' in nextbtn.get_attribute('class'):
        break;
    
    i=i+1

#### Storing values in  SneakersDF Dataframe

In [659]:

SneakersDF = pd.DataFrame({"Brand Name":brand[0:100],"Price(₹)":price[0:100],"Discount":disc[0:100],"Description":desc[0:100],})
SneakersDF.reset_index(drop=True,inplace = True)
SneakersDF.index+= 1
SneakersDF.shape

SneakersDF

,Brand Name,Price(₹),Discount,Description
1,DUCATI,"₹1,289",65% off,Sneakers For Men
2,Echor,₹599,40% off,HAWK21 Sneakers For Men
3,Numenzo,₹378,62% off,Sneakers For Men
4,World Wear Footwear,₹240,51% off,5011-Latest Collection Stylish Casual Loafer S...
5,ASTEROID,₹499,75% off,Original Luxury Branded Fashionable Men's Casu...
...,...,...,...,...
96,Chevit,₹424,78% off,Casual Sneakers White Shoes For Men And Boys S...
97,Robbie jones,₹379,62% off,"Casual , Partywear Sneakers Shoes For Men's An..."
98,World Wear Footwear,₹499,81% off,"Men & Boys Stylish, Comfortable Mesh Shoes Wit..."
99,Numenzo,₹407,59% off,SM-162 Sneakers For Men
100,RODDICK SHOES,₹474,52% off,Droge IDP Sneakers For Men

### Q7: Go to the link - https://www.myntra.com/shoes
#### Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”,And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe.

In [859]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.myntra.com/shoes' 
driver.get(url)

In [860]:
colour_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
colour_filter.click()

In [861]:
price_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
price_filter.click()

In [862]:
brand = []
desc = []
price = []
price2 = []
brand_tag = driver.find_elements_by_xpath("//h3[@class='product-brand']")
price_tag = driver.find_elements_by_xpath("//div[@class='product-price']//span[1]")
desc_tag = driver.find_elements_by_xpath("//h4[@class='product-product']")

In [863]:
for b in brand_tag:
   brand.append(b.text)
for d in desc_tag :
   desc.append(d.text)
for p in price_tag:
   price.append(p.text)

In [865]:
import time 


i=0
nextbtn = driver.find_element_by_class_name('pagination-next')
while(i<1):
    try:
        nextbtn.click()
    except:
        pass
    time.sleep(3) #to allow the page to load completely before scraping.
    brand_tag = driver.find_elements_by_xpath("//h3[@class='product-brand']")
    price_tag = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']//span[1]")
    desc_tag = driver.find_elements_by_xpath("//h4[@class='product-product']")

    
    for b in brand_tag:
        try:
            brand.append(b.text)
        except:
            pass
    
    for d in desc_tag :
        try:
            desc.append(d.text)
        except:
            pass
    
    for p in price_tag:
        try:
            price.append(p.text)
        except:
            pass
    
    
    if 'inactive' in nextbtn.get_attribute('class'):
        break;
    
    i=i+1

In [866]:
price #has duplicate values

['Rs. 8999',
 'Rs. 6999',
 'Rs. 5495',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 8399Rs. 10499',
 'Rs. 8399',
 'Rs. 6999Rs. 9999',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 6990',
 'Rs. 9749Rs. 14999',
 'Rs. 9749',
 'Rs. 5499',
 'Rs. 7499',
 'Rs. 7999',
 'Rs. 5399Rs. 5999',
 'Rs. 5399',
 'Rs. 7999',
 'Rs. 6499',
 'Rs. 7999',
 'Rs. 6299Rs. 6999',
 'Rs. 6299',
 'Rs. 8999Rs. 9999',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 6999Rs. 9999',
 'Rs. 6999',
 'Rs. 6299Rs. 8999',
 'Rs. 6299',
 'Rs. 6999',
 'Rs. 8799Rs. 10999',
 'Rs. 8799',
 'Rs. 5499',
 'Rs. 7499',
 'Rs. 8999',
 'Rs. 5999',
 'Rs. 9999',
 'Rs. 8099Rs. 8999',
 'Rs. 8099',
 'Rs. 5399Rs. 5999',
 'Rs. 5399',
 'Rs. 6299Rs. 8999',
 'Rs. 6299',
 'Rs. 5399Rs. 5999',
 'Rs. 5399',
 'Rs. 9999',
 'Rs. 5999',
 'Rs. 5399Rs. 5999',
 'Rs. 5399',
 'Rs. 7999Rs. 9999',
 'Rs. 7999',
 'Rs. 5490',
 'Rs. 8799Rs. 10999',
 'Rs. 8799',
 'Rs. 5490',
 'Rs. 7799Rs. 12999',
 'Rs. 7799',
 'Rs. 10490',
 'Rs. 5490',
 'Rs. 6599Rs. 10999',
 'Rs. 6599',
 'Rs. 6999',
 'Rs. 5990',
 'Rs. 5525Rs. 8500',
 'Rs. 5525',
 '',
 'Rs. 7199Rs. 8999',
 'Rs. 7199',
 '',
 'Rs. 8399Rs. 10499',
 'Rs. 8399',
 '',
 'Rs. 6999',
 '',
 'Rs. 5990',
 '',
 'Rs. 5525Rs. 8500',
 'Rs. 5525',
 '',
 'Rs. 5699',
 '',
 'Rs. 5579Rs. 5999',
 'Rs. 5579',
 '',
 'Rs. 5499',
 '',
 'Rs. 6293Rs. 8990',
 'Rs. 6293',
 '',
 'Rs. 6499',
 '',
 'Rs. 6990',
 '',
 'Rs. 9999',
 '',
 'Rs. 7999Rs. 9999',
 'Rs. 7999',
 '',
 'Rs. 6990',
 '',
 'Rs. 5399Rs. 5999',
 'Rs. 5399',
 '',
 'Rs. 5803Rs. 8290',
 'Rs. 5803',
 '',
 'Rs. 5490',
 '',
 'Rs. 10399Rs. 12999',
 'Rs. 10399',
 '',
 'Rs. 6293Rs. 8990',
 'Rs. 6293',
 '',
 'Rs. 5592Rs. 6990',
 'Rs. 5592',
 '',
 'Rs. 6990',
 '',
 'Rs. 7195',
 '',
 'Rs. 6399Rs. 7999',
 'Rs. 6399',
 '',
 'Rs. 8799Rs. 10999',
 'Rs. 8799',
 '',
 'Rs. 6990',
 '',
 'Rs. 8999',
 '',
 'Rs. 5599Rs. 7999',
 'Rs. 5599',
 '',
 'Rs. 8999Rs. 9999',
 'Rs. 8999',
 '',
 'Rs. 8999Rs. 9999',
 'Rs. 8999',
 '',
 'Rs. 8990',
 '',
 'Rs. 5990',
 '',
 'Rs. 5599Rs. 6999',
 'Rs. 5599',
 '',
 'Rs. 7490',
 '',
 'Rs. 6599Rs. 10999',
 'Rs. 6599',
 '',
 'Rs. 6990',
 '',
 'Rs. 6990',
 '',
 'Rs. 9999',
 '',
 'Rs. 6490',
 '',
 'Rs. 6399Rs. 7999',
 'Rs. 6399',
 '',
 'Rs. 5990',
 '',
 'Rs. 5990',
 '',
 'Rs. 5990',
 '',
 'Rs. 5599Rs. 6999',
 'Rs. 5599',
 '',
 'Rs. 6999',
 '',
 'Rs. 5490',
 '',
 'Rs. 8990',
 '',
 'Rs. 7006Rs. 7149',
 'Rs. 7006',
 '',
 'Rs. 7999',
 '',
 'Rs. 7192Rs. 8990',
 'Rs. 7192',
 '',
 'Rs. 7192Rs. 8990',
 'Rs. 7192']

In [867]:
while("" in price) :
    price.remove("")

In [868]:
price

['Rs. 8999',
 'Rs. 6999',
 'Rs. 5495',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 8399Rs. 10499',
 'Rs. 8399',
 'Rs. 6999Rs. 9999',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 6990',
 'Rs. 9749Rs. 14999',
 'Rs. 9749',
 'Rs. 5499',
 'Rs. 7499',
 'Rs. 7999',
 'Rs. 5399Rs. 5999',
 'Rs. 5399',
 'Rs. 7999',
 'Rs. 6499',
 'Rs. 7999',
 'Rs. 6299Rs. 6999',
 'Rs. 6299',
 'Rs. 8999Rs. 9999',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 6999Rs. 9999',
 'Rs. 6999',
 'Rs. 6299Rs. 8999',
 'Rs. 6299',
 'Rs. 6999',
 'Rs. 8799Rs. 10999',
 'Rs. 8799',
 'Rs. 5499',
 'Rs. 7499',
 'Rs. 8999',
 'Rs. 5999',
 'Rs. 9999',
 'Rs. 8099Rs. 8999',
 'Rs. 8099',
 'Rs. 5399Rs. 5999',
 'Rs. 5399',
 'Rs. 6299Rs. 8999',
 'Rs. 6299',
 'Rs. 5399Rs. 5999',
 'Rs. 5399',
 'Rs. 9999',
 'Rs. 5999',
 'Rs. 5399Rs. 5999',
 'Rs. 5399',
 'Rs. 7999Rs. 9999',
 'Rs. 7999',
 'Rs. 5490',
 'Rs. 8799Rs. 10999',
 'Rs. 8799',
 'Rs. 5490',
 'Rs. 7799Rs. 12999',
 'Rs. 7799',
 'Rs. 10490',
 'Rs. 5490',
 'Rs. 6599Rs. 10999',
 'Rs. 6599',
 'Rs. 6999',
 'Rs. 5990',
 'Rs. 5525Rs. 8500',
 'Rs. 5525',
 'Rs. 7199Rs. 8999',
 'Rs. 7199',
 'Rs. 8399Rs. 10499',
 'Rs. 8399',
 'Rs. 6999',
 'Rs. 5990',
 'Rs. 5525Rs. 8500',
 'Rs. 5525',
 'Rs. 5699',
 'Rs. 5579Rs. 5999',
 'Rs. 5579',
 'Rs. 5499',
 'Rs. 6293Rs. 8990',
 'Rs. 6293',
 'Rs. 6499',
 'Rs. 6990',
 'Rs. 9999',
 'Rs. 7999Rs. 9999',
 'Rs. 7999',
 'Rs. 6990',
 'Rs. 5399Rs. 5999',
 'Rs. 5399',
 'Rs. 5803Rs. 8290',
 'Rs. 5803',
 'Rs. 5490',
 'Rs. 10399Rs. 12999',
 'Rs. 10399',
 'Rs. 6293Rs. 8990',
 'Rs. 6293',
 'Rs. 5592Rs. 6990',
 'Rs. 5592',
 'Rs. 6990',
 'Rs. 7195',
 'Rs. 6399Rs. 7999',
 'Rs. 6399',
 'Rs. 8799Rs. 10999',
 'Rs. 8799',
 'Rs. 6990',
 'Rs. 8999',
 'Rs. 5599Rs. 7999',
 'Rs. 5599',
 'Rs. 8999Rs. 9999',
 'Rs. 8999',
 'Rs. 8999Rs. 9999',
 'Rs. 8999',
 'Rs. 8990',
 'Rs. 5990',
 'Rs. 5599Rs. 6999',
 'Rs. 5599',
 'Rs. 7490',
 'Rs. 6599Rs. 10999',
 'Rs. 6599',
 'Rs. 6990',
 'Rs. 6990',
 'Rs. 9999',
 'Rs. 6490',
 'Rs. 6399Rs. 7999',
 'Rs. 6399',
 'Rs. 5990',
 'Rs. 5990',
 'Rs. 5990',
 'Rs. 5599Rs. 6999',
 'Rs. 5599',
 'Rs. 6999',
 'Rs. 5490',
 'Rs. 8990',
 'Rs. 7006Rs. 7149',
 'Rs. 7006',
 'Rs. 7999',
 'Rs. 7192Rs. 8990',
 'Rs. 7192',
 'Rs. 7192Rs. 8990',
 'Rs. 7192']

In [869]:
#removing duplicate values
j = 0
for c in price:
    if len(c) > 12:
        del price[j]
    j += 1

In [871]:
price

['Rs. 8999',
 'Rs. 6999',
 'Rs. 5495',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 8399',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 6990',
 'Rs. 9749',
 'Rs. 5499',
 'Rs. 7499',
 'Rs. 7999',
 'Rs. 5399',
 'Rs. 7999',
 'Rs. 6499',
 'Rs. 7999',
 'Rs. 6299',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 6999',
 'Rs. 6299',
 'Rs. 6999',
 'Rs. 8799',
 'Rs. 5499',
 'Rs. 7499',
 'Rs. 8999',
 'Rs. 5999',
 'Rs. 9999',
 'Rs. 8099',
 'Rs. 5399',
 'Rs. 6299',
 'Rs. 5399',
 'Rs. 9999',
 'Rs. 5999',
 'Rs. 5399',
 'Rs. 7999',
 'Rs. 5490',
 'Rs. 8799',
 'Rs. 5490',
 'Rs. 7799',
 'Rs. 10490',
 'Rs. 5490',
 'Rs. 6599',
 'Rs. 6999',
 'Rs. 5990',
 'Rs. 5525',
 'Rs. 7199',
 'Rs. 8399',
 'Rs. 6999',
 'Rs. 5990',
 'Rs. 5525',
 'Rs. 5699',
 'Rs. 5579',
 'Rs. 5499',
 'Rs. 6293',
 'Rs. 6499',
 'Rs. 6990',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 6990',
 'Rs. 5399',
 'Rs. 5803',
 'Rs. 5490',
 'Rs. 10399',
 'Rs. 6293',
 'Rs. 5592',
 'Rs. 6990',
 'Rs. 7195',
 'Rs. 6399',
 'Rs. 8799',
 'Rs. 6990',
 'Rs. 8999',
 'Rs. 5599',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 8990',
 'Rs. 5990',
 'Rs. 5599',
 'Rs. 7490',
 'Rs. 6599',
 'Rs. 6990',
 'Rs. 6990',
 'Rs. 9999',
 'Rs. 6490',
 'Rs. 6399',
 'Rs. 5990',
 'Rs. 5990',
 'Rs. 5990',
 'Rs. 5599',
 'Rs. 6999',
 'Rs. 5490',
 'Rs. 8990',
 'Rs. 7006',
 'Rs. 7999',
 'Rs. 7192',
 'Rs. 7192']

#### storing the values in MyntraShoeDF DataFrame

In [873]:
MyntraShoesDF = pd.DataFrame({"Brand Name":brand[0:100],"Price(₹)":price[0:100],"Description":desc[0:100],})
MyntraShoesDF.reset_index(drop=True,inplace = True)
MyntraShoesDF.index+= 1


MyntraShoesDF

               Brand Name  Price(₹)                     Description
1            UNDER ARMOUR  Rs. 8999    Men Charged Bandit 6 Running
2                    Puma  Rs. 6999  Men Cell Fraction Fade Running
3                    Nike  Rs. 5495      Men Crater Remixa Sneakers
4                    Geox  Rs. 9999       Men Leather Formal Derbys
5            UNDER ARMOUR  Rs. 9999     Unisex Project Rock Recruit
..                    ...       ...                             ...
96                  Ruosh  Rs. 8990             Men Textured Derbys
97    KIPRUN By Decathlon  Rs. 7006             Women Running Shoes
98                   ALDO  Rs. 7999            Women Solid Sneakers
99   Heel & Buckle London  Rs. 7192            Women Peep Toe Heels
100  Heel & Buckle London  Rs. 7192             Women Leather Pumps

[100 rows x 3 columns]

### Q8: Go to webpage https://www.amazon.in/
#### Enter “Laptop” in the search field and then click the search icon.
#### Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”
#### attributes for each laptop:
#### 1. title
#### 2. Ratings
#### 3. Price

In [3]:
url = 'https://www.amazon.in/'

In [4]:
driver = webdriver.Edge("msedgedriver.exe")
driver.get(url)

In [5]:
Laptopsearch = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
Laptopsearch.send_keys("Laptop")
search = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [7]:
i7_filter = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[7]/li[26]/span/a/span")
i7_filter.click()

In [8]:
i9_filter =  driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[7]/li[28]/span/a/span")
i9_filter.click()

In [15]:
title = []
price = []
Rating = []
Rating_tag = driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
title_tag = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
price_tag = driver.find_elements_by_xpath("//div[@class='sg-col-inner']//span[@class='a-price-whole']")

for i in title_tag:
    title.append(i.text)
    
for r in Rating_tag :
    Rating.append(r.get_attribute("innerHTML"))
    
for p in price_tag:
    price.append(p.text)

In [16]:
del title[8] #deleting element with no price attribute to prevent price mismatch in dataframe

In [17]:
Rating

['4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '3.8 out of 5 stars',
 '4.3 out of 5 stars',
 '4.4 out of 5 stars',
 '4.4 out of 5 stars',
 '4.0 out of 5 stars',
 '4.1 out of 5 stars',
 '3.8 out of 5 stars',
 '4.4 out of 5 stars',
 '4.4 out of 5 stars',
 '4.2 out of 5 stars',
 '4.5 out of 5 stars',
 '4.1 out of 5 stars',
 '3.7 out of 5 stars',
 '4.0 out of 5 stars',
 '4.8 out of 5 stars',
 '4.3 out of 5 stars',
 '4.3 out of 5 stars',
 '4.2 out of 5 stars',
 '5.0 out of 5 stars',
 '3.7 out of 5 stars',
 '4.4 out of 5 stars',
 '4.4 out of 5 stars',
 '4.0 out of 5 stars',
 '5.0 out of 5 stars',
 '3.0 out of 5 stars',
 '4 Stars &amp; Up',
 '3 Stars &amp; Up',
 '2 Stars &amp; Up',
 '1 Star &amp; Up',
 '4.2 out of 5']

#### Saving as LaptopDf DataFrame

In [18]:
LaptopDF = pd.DataFrame({"Laptop Name":title[0:10],"Price(₹)":price[0:10],"Rating":Rating[0:10]})
LaptopDF.reset_index(drop=True,inplace = True)
LaptopDF.index+= 1
LaptopDF

,Laptop Name,Price(₹),Rating
1,"ASUS TUF Dash F15 (2021), 15.6"" (39.62 cms) FH...","1,07,990",4.2 out of 5 stars
2,HP Envy 11th Gen Core i7 Processor 13.3-inch (...,"1,09,990",4.1 out of 5 stars
3,"MSI GF65 Thin, Intel i7-10750H, 15.6"" FHD (39....","81,990",3.8 out of 5 stars
4,HP Pavilion (2021) Thin & Light 11th Gen Core ...,"90,990",4.3 out of 5 stars
5,Mi Notebook Horizon Edition 14 Intel Core i7-1...,"71,990",4.4 out of 5 stars
6,HP Pavilion Gaming(2021) 10th Gen Intel Core i...,"1,09,990",4.4 out of 5 stars
7,"ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 c...","5,56,524",4.0 out of 5 stars
8,HP Envy 11th Gen Core i7 Processor 13.3-inch (...,"79,490",4.1 out of 5 stars
9,ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...,"91,790",3.8 out of 5 stars
10,Lenovo Legion 5 10th Gen Intel Core i7-10750H ...,"1,07,990",4.4 out of 5 stars